.clients {
  .cards {
    overflow: hidden;
    white-space: nowrap;
    &:hover {
      .card-slide {
        animation-play-state: paused;
      }
    }
    .card-slide {
      cursor: pointer;
      animation: 20s slide infinite linear;
      display: inline-block;
    }

    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
}
