.app {
  .msg-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #a2c1ff;
    background: linear-gradient(105deg, #7aa6ff 13.43%, #2970ff 52.88%);
    box-shadow: 0px -60px 32px 0px rgba(171, 132, 244, 0.3) inset;
    &:hover {
      border-radius: 6px;
      border: 1px solid #2059cc;
      background: linear-gradient(105deg, #2970ff 13.43%, #7aa6ff 52.88%);
      box-shadow: 0px -60px 32px 0px rgba(171, 132, 244, 0.3) inset;
    }
    &:focus {
      border-radius: 6px;
      border: 1px solid #a2c1ff;
      background: var(--Blue, #2970ff);
      box-shadow: 0px -60px 32px 0px rgba(171, 132, 244, 0.3) inset;
    }
  }
}
