.home {
  .span {
    background: linear-gradient(#cbdcff, #2970ff);
    -webkit-background-clip: text; /* For Safari/Chrome/iOS */
    background-clip: text;
    font-weight: bold;
    color: transparent;
  }
}
